.wrapper {
    background: linear-gradient( #b5f7ff,  #4dd2f4 );
    max-width: 1920px;
    height: 1080px;
    max-height: 1080px;
    position: relative;
    -webkit-transition: .4s;
    transition: .4s;
}
.hamburger {
    height: 10px;
    width: 50px;
    background: #efb133;
    position: relative;
    display: block;
    border-radius: 10%;
    margin: 5px;
    z-index: 2;
    transition: width height .4s;
}
.hamburger:hover {
    height: 500px;
    width: 500px;
    margin: 0;
    border-radius: 0%;
}
.menuLine {
    height: 10px;
    width: 50px;
    margin: 5px 0px;
    background: inherit;
    position: relative;
    top: 15px;
    display: block;
    border-radius: 10%;
    z-index: 1;
}

/* før etter slider */
#timeSwitch {
    position: absolute;
    bottom: 1%;
    right: 1%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 25px;
}
#timeSwitchCheckbox {
   display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efb133;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0px;
    bottom: 1%;
    background-color: #f55460;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input#timeSwitchCheckbox:checked + .wrapper .slider {
    background-color: #086e87;
}
input#timeSwitchCheckbox:checked + .wrapper .slider::after {
    background-color: #429cb4;
    
}

input#timeSwitchCheckbox:checked + .wrapper .slider::after {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input#timeSwitchCheckbox:checked + .wrapper {
    background: linear-gradient( #165c6d, #3e7b89  );
    -webkit-transition: .4s;
    transition: .4s;
}

input#timeSwitchCheckbox:checked + .wrapper .hamburger {
    background: #49d1f2;
}